src/main/mule/mua-flights-part-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="40aae05c-da93-455d-8834-2236c69e5aff" basePath="/first-api" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mua-flights-part-1Flow" doc:id="1646093f-9fb8-4652-aa21-26b5061b0abc" >
		<http:listener doc:name="Listener" doc:id="bb8f711e-91af-4a7d-975a-5919edbd1c22" config-ref="HTTP_Listener_config" path="/today"/>
		<ee:transform doc:name="Transform Message" doc:id="8968e355-ffbf-4cbb-8357-5ae2e0cf8db6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "first mule project connected to git",
	today : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7eb65f54-ee73-4aca-8a85-0c8310c32db4" message="#[payload]"/>
	</flow>
</mule>
